body{
    background:linear-gradient(45deg, rgb(221, 92, 152),rgb(90, 224, 241),rgb(9, 238, 131));
    width:100vw;
    height:100vh;
}

.container{
    width: 40vh;
    height: 40vh;
    background:rgba(255,255,255,0.4);
    box-shadow:0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter:blur(20px);
    border-radius:10px;
    border: 1px solid rgba(255,255,255,0.18);
    margin: auto;
    padding: 10px;
}
.circle{
    position: absolute;
}
.second-container{
    width:100px;
    height:100px;
    background:rgba(255,255,255,0.45);
    box-shadow:0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter:blur(20px);
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.18);
    position: relative;
    top:10px;
    left:10px;
}

.second{
    left:40px;
    top:200px;
    background:rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.38);
}

.third{
    width:50px;
    height: 50px;
    left:240px;
    top:-90px;
    background:radial-gradient(circle,rgba(255,255,255,0.8),rgba(173, 166, 166, 0.5));
    border:none;
}